name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run dbt tests
        env:
          SNOWFLAKE_ACCOUNT: ${{{{ secrets.SNOWFLAKE_ACCOUNT }}}}
          SNOWFLAKE_USER: ${{{{ secrets.SNOWFLAKE_USER }}}}
          SNOWFLAKE_PASSWORD: ${{{{ secrets.SNOWFLAKE_PASSWORD }}}}
          SNOWFLAKE_ROLE: ${{{{ secrets.SNOWFLAKE_ROLE }}}}
          SNOWFLAKE_DATABASE: ${{{{ secrets.SNOWFLAKE_DATABASE }}}}
          SNOWFLAKE_WAREHOUSE: ${{{{ secrets.SNOWFLAKE_WAREHOUSE }}}}
          SNOWFLAKE_SCHEMA: ${{{{ secrets.SNOWFLAKE_SCHEMA }}}}
        run: |
          cd data_pipeline/dbt
          dbt deps
          dbt test